@model IEnumerable<School_Schedule_MVC.Models.Teacher>

@{
    ViewData["Title"] = "Index";
}

<h1>Всі Вчителі</h1>

<p>
    <a class="btn btn-primary btn-xl" asp-action="Create">Створити</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactNumber)
            </td>
            <td>
                <a class="btn btn-primary btn-xl" asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a class="btn btn-primary btn-xl" asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a class="btn btn-primary btn-xl" asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
